# List of folders & file names/extensions to be ignored by the git repository.
src/stdbool.h
src/stdint.h
src/pic12lf1501.h

XMAS_FLASHER.X/funclist
XMAS_FLASHER.X/l.obj
XMAS_FLASHER.X/build
XMAS_FLASHER.X/dist
XMAS_FLASHER.X/nbproject/*
